// Loader Style
.loader-container {
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: 9999;
	top: 0;
	background: #0808089c;
	left: 0%;
	right: 0%;
	>div {
		left: 0%;
		top: 50%;
		position: fixed;
		z-index: 9999;
		right: 0%;
		text-align: center;
		margin: 0px auto;
	}
}
// .fUQSFV{
// 	margin-right: 100px;
// }

