.map-box {
  .container-fluid {
    padding: 0;
  }
}
.main-reach {
  h1 {
    margin-bottom: 40px;
  }
}
.geth2 {
  .main_heading {
    h2 {
      font-weight: 700;
      font-size: 42px;
      line-height: 51px;
      color: #464646;
      margin-bottom: 20px;
      background: linear-gradient(
        90deg,
        #93f2ff 1.35%,
        #fd79a1 68.04%,
        #e78478 106.3%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      b {
        background: linear-gradient(
          90deg,
          #93f2ff 1.35%,
          #fd79a1 68.04%,
          #e78478 106.3%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
    }
    p {
      width: 100%;
      max-width: 512px;
      margin: 18px auto;
    }
  }
}
.address-box {
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 10px;
  margin-bottom: 65px;
  transition: all 0.5s;
  border-radius: 5px;
  border: 1px solid #f1f1f1;
  &:hover {
    border-color: #e86276;
  }
  h2,
  h5 {
    font-weight: 400;
    font-size: 35px;
    line-height: 51px;
    color: #464646;
  }
  a {
    font-weight: 700;
    font-size: 20px;
    line-height: 51px;
    color: #464646;
    text-align: center;
    &:hover {
      color: #e86276;
    }
  }
  p {
    margin: 0;
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
    margin-top: 20px;
  }
  svg {
    margin: 30px 0px;
    font-size: 52px;
  }
}
.support-lineboxrow {
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.19);
  padding: 30px 10px 30px 10px;
  margin-bottom: 90px;
  transition: all 0.5s;
  border-radius: 5px;
  border: 1px solid #f1f1f1;
  &:hover {
    border-color: #e86276;
  }
  h2 {
    font-weight: 700;
    font-size: 35px;
    line-height: 51px;
    text-align: center;
    color: #464646;
    background: linear-gradient(
      90deg,
      #93f2ff 1.35%,
      #fd79a1 68.04%,
      #e78478 106.3%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    b {
      background: linear-gradient(
        90deg,
        #93f2ff 1.35%,
        #fd79a1 68.04%,
        #e78478 106.3%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
  }
  p {
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #464646;
    margin: 0;
  }
  a {
    font-weight: 700;
    font-size: 20px;
    line-height: 51px;
    text-align: center;
    color: #464646;
    &:hover {
      color: #e86276;
    }
  }
  .vimg {
    text-align: center;
    margin: 30px 0px 20px 0px;
    display: block;
  }
  .lines-box {
    text-align: center;
  }
}
.support-form {
  .repair-form {
    h2 {
      font-weight: 700;
      font-size: 42px;
      line-height: 51px;
      color: #464646;
      margin-bottom: 20px;
      background: linear-gradient(
        90deg,
        #93f2ff 1.35%,
        #fd79a1 68.04%,
        #e78478 106.3%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
    p {
      width: 100%;
      max-width: 512px;
      margin: 18px auto;
    }
  }
}

// =======responsive css start========
@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .support-form {
    .repair-form {
      h2 {
        font-size: 32px;
        line-height: 36px;
      }
    }
  }
  .geth2 {
    .main_heading {
      h2 {
        font-size: 32px;
        line-height: 36px;
      }
    }
  }
  .mob-mr20 {
    margin-bottom: 15px;
  }
  .address-box {
    h5 {
      font-size: 22px;
      line-height: 30px;
    }
    svg {
      font-size: 40px;
    }
    p {
      font-size: 20px;
      line-height: 22px;
    }
    a {
      font-size: 16px;
      line-height: 45px;
    }
  }
  .support-lineboxrow {
    .lines-box {
      margin-bottom: 20px;
    }
    h2 {
      font-size: 32px;
    }
    p {
      font-size: 22px;
    }
    a {
      font-size: 16px;
      line-height: 48px;
    }
  }
}
// ==========mobile end========
@media screen and (min-device-width: 768px) and (max-device-width: 991px) {
  .address-box {
    h2,
    h5 {
      font-size: 18px;
      line-height: 1.2;
    }
    a {
      font-size: 16px;
      line-height: 1.5;
    }
    svg {
      font-size: 38px;
    }
    p {
      font-size: 16px;
      margin-top: 0px;
    }
  }
  .support-lineboxrow {
    p {
      font-size: 18px;
    }
    a {
      font-size: 15px;
      line-height: 1.2;
    }
  }
}

// ===========tablet end=========

@media screen and (min-device-width: 992px) and (max-device-width: 1024px) {
  .address-box {
    h2,
    h5 {
      font-size: 18px;
      line-height: 1.2;
    }
    a {
      font-size: 16px;
      line-height: 1.5;
    }
    svg {
      font-size: 38px;
    }
    p {
      font-size: 16px;
      margin-top: 0px;
    }
  }
  .support-lineboxrow {
    p {
      font-size: 18px;
    }
    a {
      font-size: 15px;
      line-height: 1.2;
    }
  }
}
