* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600 !important;
}

ul {
  list-style-type: none;
  padding: 0 !important;
  text-align: left !important;
}

body .container {
  max-width: 95%;
}

p {
  font-family: "Poppins", sans-serif;
  line-height: 30px;
  font-weight: 400;
  color: #676767;
}

a {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.5s;
  list-style-type: none;
  text-decoration: none !important;
}

.p0 {
  padding: 0;
}

.opcity0 {
  opacity: 0;
}

.mrt80 {
  margin-top: 80px;
}

.mrt100 {
  margin-top: 100px;
}

.mrb100 {
  margin-bottom: 100px;
}

.mrt50 {
  margin-top: 50px;
}

.mrb50 {
  margin-bottom: 50px;
}

.pdt100 {
  padding-top: 100px;
}

.pdb100 {
  padding-bottom: 100px;
}

.pdt50 {
  padding-top: 50px;
}

.pdb50 {
  padding-bottom: 50px;
}

.wd100 {
  width: 100%;
}

.dsnone {
  display: none;
}

:focus-visible {
  outline: none;
}

/* Shutter Out Horizontal */
.hvr-shutter-out-horizontal {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  color: #fff !important;
  transition-property: color;
  transition-duration: 0.3s;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border-radius: 100px;
  display: inline-block !important;
  padding: 12px 28px !important;
  margin-top: 10px;
  transition: all 0.5s;
  border: 2px solid transparent;
  background-origin: border-box !important;
  background-size: cover !important;
  box-sizing: border-box !important;
  background: linear-gradient(90deg, #93f2ff 1.35%, #fd79a1 68.04%, #e78478 106.3%);
}
.hvr-shutter-out-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  color: #e75073 !important;
  transform: scaleX(0);
  transform-origin: 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  border-radius: 100px;
}
.hvr-shutter-out-horizontal:hover::before {
  transform: scaleX(1);
}
.hvr-shutter-out-horizontal:hover {
  color: #e75073 !important;
}
.hvr-shutter-out-horizontal:active {
  color: #e75073 !important;
}

.main_heading {
  margin-top: 30px;
  margin-bottom: 35px;
}
.main_heading h1 {
  font-weight: 700;
  font-size: 55px;
  line-height: 51px;
  text-align: center;
  color: #464646;
}

.main_heading-gradiant h2 {
  font-weight: 700;
  font-size: 60px;
  line-height: 92px;
  text-align: center;
  background: linear-gradient(90deg, #93f2ff 1.35%, #fd79a1 68.04%, #e78478 106.3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.main_heading-gradiant h2 b {
  background: linear-gradient(90deg, #93f2ff 1.35%, #fd79a1 68.04%, #e78478 106.3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.main_heading-gradiant p {
  font-size: 16px;
  text-align: center;
  width: 100%;
  max-width: 496px;
  margin: 0px auto;
  margin-top: 15px;
  margin-bottom: 60px;
  line-height: 24px;
}

.main_heading-gradiant-p h1 {
  font-size: 60px;
  line-height: 92px;
  text-align: center;
  color: #464646;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.main_heading-gradiant-p h1 b {
  background: linear-gradient(90deg, #93f2ff 1.35%, #fd79a1 68.04%, #e78478 106.3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.main_heading-gradiant-p p {
  font-size: 20px;
  text-align: center;
  width: 100%;
  max-width: 515px;
  margin: 0px auto;
  margin-top: 30px;
  margin-bottom: 20px;
  line-height: 30px;
  color: #727272;
}

.inner_gheading h6 {
  font-weight: 700;
  font-size: 60px;
  line-height: 51px;
  text-align: center;
}
.inner_gheading h6 span {
  background: linear-gradient(90deg, #93f2ff 1.35%, #fd79a1 68.04%, #e78478 106.3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.inner_gheading p {
  font-size: 22px;
  text-align: center;
  width: 100%;
  max-width: 515px;
  margin: 0px auto;
  margin-top: 30px;
  margin-bottom: 60px;
  line-height: 27px;
  color: #727272;
}

.countdown_aria {
  background-image: url("../../public/images/banner/countdown_banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.countdown_aria .overlay {
  padding: 85px 0;
  background-color: rgba(0, 0, 0, 0.33);
}
.countdown_aria .row {
  justify-content: flex-end;
  align-items: center;
}

.countdown_info {
  text-align: center;
}
.countdown_info h4 {
  color: #ffffff;
  font-family: "Oleo Script", system-ui;
  font-size: 2rem;
  letter-spacing: 1px;
}
.countdown_info h4 span {
  color: #fa1052;
  text-shadow: 1px 1px #fff, -1px 1px #fff, 1px -1px #fff, -1px -1px #fff, 1px 1px 5px #555;
}
.countdown_info h2 {
  color: #fff;
  font-size: 52px;
  text-transform: uppercase;
  margin: 20px 0 30px 0;
}
.countdown_info .main_btn {
  background: #fff;
  color: #a92045 !important;
  outline: solid 2px #fff;
  outline-offset: 2px;
}
.countdown_info p {
  font-size: 14px;
  color: #fff;
  line-height: 24px;
}

.countdowncontainer {
  margin-bottom: 15px;
}
.countdowncontainer .countdown {
  display: inline-block;
  vertical-align: middle;
  width: 91px;
  height: 108px;
  text-align: center;
  background: linear-gradient(231deg, #ffffff 25%, #494949);
  padding: 24px 0;
  pointer-events: none;
  margin-right: 15px;
  -webkit-backdrop-filter: blur(6.5px);
  backdrop-filter: blur(6.5px);
  border-radius: 10px;
}
.countdowncontainer .countdown h3 {
  color: #9c142b;
  font-size: 40px;
  margin-bottom: 0;
  text-shadow: 1px 1px #fff, -1px 1px #fff, 1px -1px #fff, -1px -1px #fff, 1px 1px 5px #555;
}
.countdowncontainer .countdown span {
  color: #9c142b;
  text-transform: capitalize;
  text-shadow: 1px 1px #fff, -1px 1px #fff, 1px -1px #fff, -1px -1px #fff, 1px 1px 1px #555;
  letter-spacing: 1px;
}

.count_banner {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 68%;
  height: 195px;
  padding: 4% 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.count_banner h1 {
  font-family: "Henny Penny", system-ui;
  font-weight: 400;
  color: #fff;
  font-size: 2.7rem;
  letter-spacing: 0.2rem;
  margin: 10px 0 15px 0;
}
.count_banner .countdowncontainer {
  margin-bottom: 0;
  margin-right: 15px;
}
.count_banner img.happy_vtr {
  max-width: 20%;
  height: auto;
}
.count_banner p.text-discount {
  font-size: 2rem;
  font-family: "Oleo Script", system-ui;
  color: #fff;
  font-weight: 600;
  margin: 0px 0 20px 0;
}
.count_banner a.btn-shopnow {
  background: linear-gradient(45deg, #431137, #C71349);
  color: #fff;
  padding: 11px 20px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 6px;
  font-size: 0.7rem;
}
.count_banner .countdowncontainer .countdown {
  height: 60px;
  padding: 6px 0;
  width: 60px;
  border-radius: 5px;
  margin-right: 10px;
}
.count_banner .countdowncontainer .countdown span {
  font-size: 12px;
  position: relative;
  top: -6px;
}
.count_banner .countdowncontainer .countdown h3 {
  font-size: 26px;
  margin-bottom: 0;
}

span.text-denger {
  color: #fa1052;
  text-shadow: 1px 1px #fff, -1px 1px #fff, 1px -1px #fff, -1px -1px #fff, 1px 1px 5px #555;
}

.fox_vactor img {
  max-width: 550px;
  position: relative;
  left: -50px;
  bottom: -200px;
}

section.main_macparts {
  position: relative;
  overflow: hidden;
}

.spider_img {
  position: absolute;
  top: -46px;
  height: 68vh;
  display: flex;
  align-items: flex-end;
  left: 25px;
}
.spider_img::before {
  content: "";
  position: absolute;
  left: 41px;
  background-color: #000;
  width: 1px;
  height: 90%;
  top: 0;
}
.spider_img img {
  max-width: 85px;
  height: auto;
}
.spider_img.spider02 {
  right: 25px;
  left: auto;
  height: 215px;
}
.spider_img.spider02::before {
  left: 32px;
}
.spider_img.spider02 img {
  max-width: 65px;
  height: auto;
}

img.vert-move {
  animation: UpDown 2s linear infinite;
  position: relative;
}

@keyframes UpDown {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 0.5em;
  }
  100% {
    bottom: 0;
  }
}
/* src/Flower.css */
.flower {
  position: absolute;
  width: 100px;
  /* Adjust size as needed */
  height: 100px;
  /* Adjust size as needed */
  background-size: 100%;
  animation: fall linear forwards;
  background-repeat: no-repeat;
}

@keyframes fall {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}
.flowApp {
  position: fixed;
  height: 100vh;
  overflow: visible;
  z-index: 999999999;
  top: 0;
  left: 0;
}

/**==========Responsove============**/
@media (max-width: 767.98px) {
  .count_banner {
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding-top: 10%;
  }
  .count_banner p.text-discount {
    font-size: 1.85rem;
    margin: 0px 0 15px 0;
  }
  .count_banner a.btn-shopnow {
    padding: 6px 12px;
    border-radius: 2px;
    font-size: 10px;
  }
  .count_banner .countdowncontainer .countdown {
    height: 40px;
    padding: 6px 0;
    width: 40px;
    border-radius: 4px;
    margin: 0 4px;
    line-height: normal;
  }
  .count_banner .countdowncontainer .countdown h3 {
    font-size: 18px;
    margin-bottom: 0;
    line-height: normal;
  }
  .count_banner .countdowncontainer .countdown span {
    font-size: 10px;
    position: relative;
    top: 5px;
  }
  .flower {
    width: 42px;
    height: 42px;
  }
  .spider_img img {
    max-width: 50px;
  }
  .spider_img {
    height: 50vh;
    left: 11px;
  }
  .spider_img::before {
    left: 25px;
    height: 95%;
  }
  .spider_img.spider02 {
    height: 265px;
  }
  .spider_img.spider02::before {
    left: 15px;
  }
  .spider_img.spider02 img {
    max-width: 30px;
  }
  .countdown_info {
    padding: 0 35px;
    text-align: center;
  }
  .countdown_info h2 {
    font-size: 42px;
  }
  .countdown_info p {
    font-size: 12px;
    line-height: 22px;
  }
  .countdowncontainer .countdown {
    height: 70px;
    padding: 10px 0;
    width: 65px;
    border-radius: 6px;
    margin: 0 4px;
    line-height: normal;
  }
  .countdowncontainer .countdown h3 {
    font-size: 24px;
    margin-bottom: 0;
    line-height: normal;
  }
  .countdowncontainer .countdown span {
    font-size: 11px;
  }
  .countdown_aria .countdowncontainer .countdown span {
    position: relative;
    top: -7px;
  }
  .fox_vactor {
    display: none;
  }
  .footer_img .footer_logo {
    background: linear-gradient(90deg, rgba(145, 64, 105, 0) 0.35%, #a82654 40%, #d20d45 106.3%);
  }
  .footer_img .footer_logo p {
    font-size: 24px;
  }
}
.carousel-indicators [data-bs-target] {
  background-color: #c0103f;
}

.title_header {
  text-align: center;
  padding-bottom: 50px;
}

.find_your_divs h1 {
  font-size: 48px;
}

.find_your_divs p.haddingh_h2 {
  font-size: 30px;
  line-height: 40px;
  max-width: 80%;
  margin: auto;
}

section.find_your_divs {
  padding: 40px 0;
  max-width: 1140px;
  margin: auto;
}

ul.list_device {
  display: flex;
  flex-wrap: wrap;
}

ul.list_device .inner_box {
  display: flex;
  align-items: center;
  padding: 20px;
  border: solid 1px #cccccc;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.0901960784);
}

ul.list_device li {
  width: 33.33%;
  padding: 0 10px;
}

ul.list_device .icon svg,
ul.list_device .icon img {
  width: 70px !important;
  height: 50px !important;
  margin-right: 8px;
  -o-object-fit: contain;
     object-fit: contain;
  fill: #34495e !important;
}

ul.list_device .inner_box h4 {
  font-size: 18px;
  font-weight: 500 !important;
  margin: 0;
}

ul.list_device .inner_box p {
  margin: 0;
}

.find_your_divs h4 {
  font-weight: 500 !important;
  font-size: 20px;
  color: #464646;
}

.find_your_divs h4 b {
  font-weight: 500 !important;
}

ul.list_device.series li {
  width: 50%;
}

ul.list_device li.active .inner_box {
  border: solid 2px #f37e8f;
}

ul.list_device .inner_box:hover {
  background: linear-gradient(90deg, #93f2ff 1.35%, #fd79a1 68.04%, #e78478 106.3%);
  border-color: #fff;
}

ul.list_device .inner_box:hover h4 {
  background: transparent;
  -webkit-text-fill-color: #fff;
}

ul.list_device .inner_box:hover p {
  color: #fff;
}

ul.list_device li {
  margin-bottom: 20px;
}

ul.list_device.storage li {
  width: 25%;
}

ul.list_device.device li {
  width: 100%;
}

ul.list_device.device li .inner_box {
  justify-content: space-between;
}

ul.list_device.device li .icon {
  width: 80%;
  display: flex;
  align-items: center;
}

ul.list_device .inner_box img {
  max-width: 50px;
  margin-right: 15px;
}

ul.list_device.device li p b {
  display: block;
  font-size: 24px;
  color: #000;
  font-weight: 500;
}

ul.list_device.device li p {
  text-align: center;
}

ul.list_device li:hover p b {
  color: #fff;
}

.title_header p {
  margin: 0;
  line-height: 24px;
}

.title_header a {
  font-weight: 400;
  color: #f37e8f;
  text-decoration: underline !important;
  margin-top: 10px;
  display: block;
}

ul.assess_list li {
  justify-content: space-between;
  border-bottom: solid 1px #ddd;
  display: flex;
  align-items: center;
  padding: 20px;
  border: solid 1px #cccccc;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.0901960784);
}

ul.assess_list li p span {
  text-decoration: underline !important;
  font-weight: 400;
  color: #f37e8f;
}

ul.assess_list li p {
  margin: 0;
  line-height: 24px;
}

ul.assess_list li button.btn {
  padding: 10px 25px;
  font-weight: 500;
  transition: 0.3s;
}

ul.assess_list li .assess_buttons {
  border: solid 1px #cccccc;
  border-radius: 6px;
}

ul.assess_list li button.btn:hover {
  background: linear-gradient(90deg, #93f2ff 1.35%, #fd79a1 68.04%, #e78478 106.3%);
  color: #fff;
}

ul.assess_list li button.btn:first-child {
  border-right: solid 1px #ddd;
  border-radius: 6px 0 0 6px;
}

ul.assess_list li button.btn:last-child {
  border-radius: 0 6px 6px 0;
}

ul.assess_list li {
  margin-bottom: 20px;
}

ul.assess_list li button.btn.active {
  border: solid 2px #f37e8f;
}

form.serial_no_form {
  max-width: 450px;
  margin: auto;
  text-align: center;
}

form.serial_no_form label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 6px;
}

form.serial_no_form .device_felid {
  width: 100%;
  border: solid 2px #f37e8f;
  padding: 10px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

button.btn.device_button {
  margin-top: 25px;
  text-align: center;
  border: solid 2px transparent;
  background: linear-gradient(90deg, #93f2ff 1.35%, #fd79a1 68.04%, #e78478 106.3%);
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  transition: 0.4s;
  min-width: 200px;
  padding: 10px;
}

form.serial_no_form .form-group {
  text-align: left;
}

button.btn.device_button:hover {
  background: transparent;
  border-color: #f37e8f;
  color: #333;
}

section.macparts-page {
  padding-bottom: 100px;
}

.shopmac_desktop_new {
  margin-bottom: 30px;
}

.sell_mac_list ul li {
  padding: 10px 0;
  border-bottom: solid 1px #ddd;
  font-size: 16px;
}

.sell_mac_list ul li span.response-title b {
  font-weight: 500;
  color: #000;
}

.sell_mac_list ul > span {
  margin-top: 15px;
  display: block;
  font-weight: 500;
  color: #000;
}

.find_your_divs .repair-form {
  max-width: 600px;
  margin: auto;
}

ul.list_device.shipping {
  display: flex;
  align-items: center;
  padding: 20px !important;
  border: solid 1px #cccccc;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  margin: 0 10px 35px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.0901960784);
}

ul.list_device.shipping:hover {
  border: solid 2px #f37e8f;
}

ul.list_device.shipping li {
  width: 100%;
  margin: 0 0 10px !important;
}

ul.list_device.shipping li p {
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  line-height: 22px;
}

ul.list_device.device li .inner_box p {
  text-align: left;
}

.count_banner {
  display: none !important;
}

section.main_buyrepair.mrt50 {
  padding-bottom: 60px;
}

.main_trusted {
  position: relative;
}

h5.home_top_text {
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
}

.mac_parts_form .heading_form {
  margin-bottom: 25px;
}

.mac_parts_form .form_outer {
  background: #fff;
  border: 1px solid rgba(218, 218, 218, 0.73);
  box-shadow: 0px 15px 43px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  padding: 40px;
}

.mac_parts_form form {
  display: flex;
  flex-wrap: wrap;
}

.mac_parts_form form .form-group {
  width: 31%;
}

.mac_parts_form form .form_button {
  width: 5.5%;
}

.mac_parts_form form .form-control {
  border-radius: 0;
  padding: 15px 20px;
  font-size: 15px;
  outline: 0;
  box-shadow: none;
  border: solid 1px #ddd;
}

.mac_parts_form form .form-group:first-child .form-control {
  border-right: 0;
  border-radius: 10px 0 0 10px;
}

.mac_parts_form form .form-group:nth-child(3) .form-control {
  border-left: 0;
}

.mac_parts_form form .form_button img {
  width: 28px;
  filter: invert(1);
}

.mac_parts_form form .form_button button.btn {
  background: linear-gradient(90deg, #93f2ff 1.35%, #fd79a1 68.04%, #e78478 106.3%);
  width: 100%;
  height: 55px;
  border-radius: 0 10px 10px 0;
}

.title_header span {
  font-size: 15px;
  color: #f38a96;
  text-decoration: underline;
}

ul.list_device .icon svg path.inverse {
  fill: #fff !important;
}

.inspection_tips_modl .modal-content {
  max-width: 550px;
  margin: auto;
}

.inspection_tips_modl h3 {
  font-size: 22px;
  font-weight: 400 !important;
  margin-bottom: 20px;
  margin-top: 10px;
}

.inspection_tips_modl .modal-body {
  padding: 20px;
}

.inspection_tips_modl .text {
  width: 92%;
}

.inspection_tips_modl .text h4 {
  font-size: 16px;
  font-weight: 500 !important;
}

.inspection_tips_modl .text p {
  line-height: 22px;
  font-size: 15px;
  margin-bottom: 10px;
}

.inspection_tips_modl .cnt_outer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.inspection_tips_modl .cnt_outer svg {
  width: 35px;
  filter: invert(0.7);
}

.inspection_tips_modl button {
  width: 100%;
  background: transparent;
  color: #000;
  font-size: 15px;
  border-color: #ddd;
  transition: 0.4s;
}

.inspection_tips_modl button:hover {
  background: linear-gradient(90deg, #93f2ff 1.35%, #fd79a1 68.04%, #e78478 106.3%);
  border-color: #fff;
}

div#popover-positioned-top {
  max-width: 420px;
}

div#popover-positioned-top .popover-body {
  line-height: 24px;
}

ul.list_device .inner_box img {
  max-width: 65px;
  margin-right: 8px;
}

@media (max-width: 767.98px) {
  .main_trusted:before {
    display: none;
  }
  ul.list_device li {
    width: 100% !important;
    padding: 0;
  }
  .find_your_divs h4 {
    margin-bottom: 20px;
  }
  ul.list_device .inner_box h4 {
    font-size: 16px;
  }
  ul.assess_list li .assess_buttons {
    margin-left: 5px;
    display: flex;
  }
  ul.assess_list li button.btn {
    padding: 10px 11px;
  }
  ul.list_device.shipping {
    margin: 0 0px 25px;
  }
  .file-repair-main .container {
    max-width: 100%;
    padding: 0;
  }
  .find_your_divs .repair-form > span {
    margin-bottom: 10px;
    display: block;
  }
  .find_your_divs .repair-form > span {
    margin-bottom: 10px;
    display: block;
  }
  .find_your_divs .repair-form .mb-3.row {
    margin: 0 !important;
  }
  .find_your_divs .repair-form .mob-inmargin {
    margin: 0;
  }
  .find_your_divs .repair-form .mb-3.row > div {
    margin-bottom: 15px;
    padding: 0;
  }
  .mac_parts_form .form_outer {
    padding: 25px;
  }
  .mac_parts_form .heading_form {
    margin-bottom: 20px;
  }
  .mac_parts_form form .form-group {
    width: 100%;
    margin-bottom: 10px;
  }
  .mac_parts_form form .form-control {
    border: solid 1px #ddd !important;
    border-radius: 10px !important;
  }
  .mac_parts_form form .form_button {
    width: 50%;
    margin: auto;
  }
  .mac_parts_form form .form_button button.btn {
    border-radius: 50px;
  }
  section.macparts-page {
    padding-bottom: 40px;
  }
  section.macparts-page .main_heading-gradiant-p h1 {
    margin-top: 15px;
  }
  .main_footer {
    background: linear-gradient(359deg, #2BB2C8 0.35%, #A82654 40%, #E8003E 106.3%) !important;
  }
  .main_footer .footer-bottom {
    padding-bottom: 15px;
  }
}/*# sourceMappingURL=global.css.map */