// @import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
* {
  box-sizing: border-box;
}
$wcolor: #fff;
$bcolor: #000;
$pcolor: #676767;
$scondryc: #464646;
// ======all variables====
html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600 !important;
}
ul {
  list-style-type: none;
  padding: 0 !important;
  text-align: left !important;
}
body .container {
  max-width: 95%;
}
p {
  font-family: "Poppins", sans-serif;
  line-height: 30px;
  font-weight: 400;
  color: $pcolor;
}

a {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.5s;
  list-style-type: none;
  text-decoration: none !important;
}
.p0 {
  padding: 0;
}
.opcity0 {
  opacity: 0;
}
.mrt80 {
  margin-top: 80px;
}
.mrt100 {
  margin-top: 100px;
}
.mrb100 {
  margin-bottom: 100px;
}
.mrt50 {
  margin-top: 50px;
}
.mrb50 {
  margin-bottom: 50px;
}
.pdt100 {
  padding-top: 100px;
}
.pdb100 {
  padding-bottom: 100px;
}
.pdt50 {
  padding-top: 50px;
}
.pdb50 {
  padding-bottom: 50px;
}
.wd100 {
  width: 100%;
}
.dsnone {
  display: none;
}
:focus-visible {
  outline: none;
}

/* Shutter Out Horizontal */
.hvr-shutter-out-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  color: $wcolor !important;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border-radius: 100px;
  display: inline-block !important;
  padding: 12px 28px !important;
  margin-top: 10px;
  transition: all 0.5s;
  border: 2px solid transparent;
  background-origin: border-box !important;
  background-size: cover !important;
  box-sizing: border-box !important;
  background: linear-gradient(
    90deg,
    #93f2ff 1.35%,
    #fd79a1 68.04%,
    #e78478 106.3%
  );
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    color: #e75073 !important;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    border-radius: 100px;
  }
  &:hover::before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  &:hover {
    color: #e75073 !important;
  }

  &:active {
    color: #e75073 !important;
  }
}
.main_heading {
  margin-top: 30px;
  margin-bottom: 35px;
  h1 {
    font-weight: 700;
    font-size: 55px;
    line-height: 51px;
    text-align: center;
    color: $scondryc;
  }
}
.main_heading-gradiant {
  h2 {
    font-weight: 700;
    font-size: 60px;
    line-height: 92px;
    text-align: center;
    background: linear-gradient(
      90deg,
      #93f2ff 1.35%,
      #fd79a1 68.04%,
      #e78478 106.3%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    b {
      background: linear-gradient(
        90deg,
        #93f2ff 1.35%,
        #fd79a1 68.04%,
        #e78478 106.3%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
  }
  p {
    font-size: 16px;
    text-align: center;
    width: 100%;
    max-width: 496px;
    margin: 0px auto;
    margin-top: 15px;
    margin-bottom: 60px;
    line-height: 24px;
  }
}
.main_heading-gradiant-p {
  h1 {
    // font-weight: 700;
    font-size: 60px;
    line-height: 92px;
    text-align: center;
    color: #464646;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    b {
      background: linear-gradient(
        90deg,
        #93f2ff 1.35%,
        #fd79a1 68.04%,
        #e78478 106.3%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
  }
  p {
    font-size: 20px;
    text-align: center;
    width: 100%;
    max-width: 515px;
    margin: 0px auto;
    margin-top: 30px;
    margin-bottom: 20px;
    line-height: 30px;
    color: #727272;
  }
}

.inner_gheading {
  h6 {
    font-weight: 700;
    font-size: 60px;
    line-height: 51px;
    text-align: center;
    span {
      background: linear-gradient(
        90deg,
        #93f2ff 1.35%,
        #fd79a1 68.04%,
        #e78478 106.3%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
  }
  p {
    font-size: 22px;
    text-align: center;
    width: 100%;
    max-width: 515px;
    margin: 0px auto;
    margin-top: 30px;
    margin-bottom: 60px;
    line-height: 27px;
    color: #727272;
  }
}
// =========COUNT DOWN CSS START======//
.countdown_aria {
  background-image: url('../../public/images/banner/countdown_banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  .overlay {
    padding: 85px 0;
    background-color: rgb(0 0 0 / 33%);
  }
  .row {
    justify-content: flex-end;
    align-items: center;
  }
}
.countdown_info {
 text-align: center;
  h4 {
    color: #ffffff;
    font-family: "Oleo Script", system-ui;
    font-size: 2rem;
    letter-spacing: 1px;
    span {
      color: #fa1052;
      text-shadow: 1px 1px #fff, -1px 1px #fff, 1px -1px #fff, -1px -1px #fff, 1px 1px 5px #555;
    }
  }
  h2 {
    color: #fff;
    font-size: 52px;
    text-transform: uppercase;
    margin: 20px 0 30px 0;
  }
  .main_btn {
    background: #fff;
    color: #a92045 !important;
    outline: solid 2px #fff;
    outline-offset: 2px;
  }
  p {
    font-size: 14px;
    color: #fff;
    line-height: 24px;
  }
}
.countdowncontainer {
  margin-bottom: 15px;
  .countdown {
    display: inline-block;
    vertical-align: middle;
    width: 91px;
    height: 108px;
    text-align: center;
    background: linear-gradient(231deg, #ffffff 25%, #494949);
    padding: 24px 0;
    pointer-events: none;
    margin-right: 15px;
    -webkit-backdrop-filter: blur(6.5px);
    backdrop-filter: blur(6.5px);
    border-radius: 10px;
    h3 {
      color: #9c142b;
      font-size: 40px;
      margin-bottom: 0;
      text-shadow: 1px 1px #fff, -1px 1px #fff, 1px -1px #fff, -1px -1px #fff, 1px 1px 5px #555;
    }
    span{
      color: #9c142b;
      text-transform: capitalize;
      text-shadow: 1px 1px #fff, -1px 1px #fff, 1px -1px #fff, -1px -1px #fff, 1px 1px 1px #555;
      letter-spacing: 1px;
    }
  }
}
.count_banner {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 68%;
    height: 195px;
    padding: 4% 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  h1 {
    font-family: "Henny Penny", system-ui;
    font-weight: 400;
    color: #fff;
    font-size: 2.70rem;
    letter-spacing: 0.2rem;
    margin: 10px 0 15px 0;
}
.countdowncontainer {
  margin-bottom: 0;
  margin-right: 15px;
}
img.happy_vtr {
  max-width: 20%;
  height: auto;
}
p.text-discount {
  font-size: 2rem;
  font-family: "Oleo Script", system-ui;
  color: #fff;
  font-weight: 600;
  margin: 0px 0 20px 0;
}
a.btn-shopnow {
  background: linear-gradient(45deg, #431137, #C71349);
  color: #fff;
  padding: 11px 20px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 6px;
  font-size: 0.7rem;
}
  .countdowncontainer .countdown {
    height: 60px;
    padding: 6px 0;
    width: 60px;
    border-radius: 5px;
    margin-right: 10px;
    span {
      font-size: 12px;
      position: relative;
      top: -6px;
    }
  }
  .countdowncontainer .countdown h3 {
    font-size: 26px;
    margin-bottom: 0;
}
}
span.text-denger {
  color: #fa1052;
  text-shadow: 
     1px  1px     #fff, 
    -1px  1px     #fff, 
     1px -1px     #fff, 
    -1px -1px     #fff,
     1px  1px 5px #555;
}
.fox_vactor img {
    max-width: 550px;
    position: relative;
    left: -50px;
    bottom: -200px;
}
section.main_macparts {
  position: relative;
  overflow: hidden;
}
.spider_img {
  position: absolute;
  top: -46px;
  height: 68vh;
  display: flex;
  align-items: flex-end;
  left: 25px;
  &::before{
    content: '';
    position: absolute;
    left: 41px;
    background-color: #000;
    width: 1px;
    height: 90%;
    top: 0;
  }
  img {
    max-width: 85px;
    height: auto;
    
  }
  &.spider02 {
    right: 25px;
    left: auto;
    height: 215px;
    &::before{
      left: 32px;
    }
    img {
      max-width: 65px;
      height: auto;
      
    }
  }
}
img.vert-move {
  animation: UpDown 2s linear infinite;
  position: relative;
}
@keyframes UpDown {
  0% {
    bottom: 0;
  }
  50% {
    bottom: .5em;
  }
  100% {
    bottom: 0;
  }
}
/* src/Flower.css */
.flower {
  position: absolute;
  width: 100px; /* Adjust size as needed */
  height: 100px; /* Adjust size as needed */
  background-size: 100%;
  animation: fall linear forwards;
  background-repeat: no-repeat;
}

@keyframes fall {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}
.flowApp {
  position: fixed;
  height: 100vh;
  overflow: visible;
  z-index: 999999999;
  top: 0;
  left: 0;
}

/**==========Responsove============**/
@media (max-width: 767.98px) { 
  .count_banner {
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding-top: 10%;
    p.text-discount{
      font-size: 1.85rem;
      margin: 0px 0 15px 0;
    }
    a.btn-shopnow {
      padding: 6px 12px;
      border-radius: 2px;
      font-size: 10px;
    }
    .countdowncontainer{
      .countdown {
        height: 40px;
        padding: 6px 0;
        width: 40px;
        border-radius: 4px;
        margin: 0 4px;
        line-height: normal;
        h3 {
          font-size: 18px;
          margin-bottom: 0;
          line-height: normal;
        }
        span{
          font-size: 10px;
          position: relative;
          top: 5px;
        }
      }
    }
  }
  .flower {
    width: 42px;
    height: 42px;
  }
  .spider_img img {
    max-width: 50px;
  }
  .spider_img {
    height: 50vh;
    left: 11px;
    &::before{
      left: 25px;
      height: 95%;
    }
  }
  .spider_img.spider02 {
    height: 265px;
    &::before{
      left: 15px;
    }
    img {
      max-width: 30px;
    }
  }
  .countdown_info {
    padding: 0 35px;
    text-align: center;
    h2 {
      font-size: 42px;
    }
    p {
      font-size: 12px;
      line-height: 22px;
    }
  }
  .countdowncontainer{
    .countdown {
      height: 70px;
      padding: 10px 0;
      width: 65px;
      border-radius: 6px;
      margin: 0 4px;
      line-height: normal;
      h3 {
        font-size: 24px;
        margin-bottom: 0;
        line-height: normal;
      }
      span{
        font-size: 11px;
      }
    }
  }
  .countdown_aria .countdowncontainer .countdown span {
    position: relative;
    top: -7px;
  }
  .fox_vactor {
    display: none;
  }
  .footer_img .footer_logo {
    background: linear-gradient(90deg, #91406900 0.35%, #a82654 40%, #d20d45 106.3%);
    p{
      font-size: 24px;
    }
}
 }
 .carousel-indicators [data-bs-target] {
  background-color: #c0103f;
 }