.repstatus span {
  color: #e75073;
}
.mac_repair_banner {
  background: unset !important;
  padding-top: 20px !important;
  .banner_box p {
    margin: 0px auto;
  }
}
// =======BANNER END=====

// ========FILE REPAIR SECTION START====
.file-repair-full {
  .file_box {
    h1,
    h6 {
      font-size: 42px;
      line-height: 51px;
      text-align: center;
      color: #464646;
      font-weight: 700;
    }
    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      text-align: center;
      color: #ababab;
      margin: 30px 0px;
    }
  }
  .view-check-box {
    background: #fff;
    border: 1px solid rgba(218, 218, 218, 0.73);
    box-shadow: 0px 15px 43px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    width: 280px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    margin-top: 50px;
    transition: all 0.5s;
    cursor: pointer;
    .checkbox-img {
      height: 100%;
      a {
        height: 100%;
        width: 100%;
        display: block;
      }
      span {
        height: 100% !important;
      }
      img {
        border-radius: 20px;
      }
    }
    .viewcheck-link {
      a {
        font-weight: 700;
        font-size: 22px;
        line-height: 51px;
        text-align: center;
        color: #515151;
        display: block;
        padding-top: 35px;
      }
    }

    &:hover {
      border: 1px solid #e86276;

      a {
        color: #e86276;
      }
    }
  }
}

.repair-form {
  input {
    height: 64px;
    background: #f2f5f5;
    border-radius: 10px;
    border: unset;
    text-align: center;
    // text-transform: capitalize;
    &::placeholder {
      font-weight: 600;
      font-size: 16px;
      color: #616161;
    }
  }
  // input#formGridEmail {
  //   // text-transform: lowercase;
  // }
  input#formGridEmail::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    text-transform: capitalize;
  }
  input#formGridEmail::-moz-placeholder {
    /* Firefox 19+ */
    text-transform: capitalize;
  }
  input#formGridEmail:-ms-input-placeholder {
    /* IE 10+ */
    text-transform: capitalize;
  }
  input#formGridEmail:-moz-placeholder {
    /* Firefox 18- */
    text-transform: capitalize;
  }

  select {
    height: 64px;
    background: #f2f5f5;
    border-radius: 10px;
    border: unset;
    text-align: center;
    // text-transform: capitalize;
    width: 100%;
    &::placeholder {
      font-weight: 600;
      font-size: 16px;
      color: #616161;
    }
  }
  .service-small {
    font-weight: 600;
    font-size: 16px;
    color: #616161;
    background-image: linear-gradient(45deg, transparent 50%, #fff 50%),
      linear-gradient(135deg, #fff 50%, transparent 50%),
      linear-gradient(to right, #e96876, #e96876);
    background-position: calc(100% - 20px) calc(1.7em + 2px),
      calc(100% - 15px) calc(1.7em + 2px), 100% 0;
    background-size: 5px 5px, 5px 5px, 2.5em 4.5em;
    background-repeat: no-repeat;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
    font-family: "Poppins", sans-serif;
    padding-left: 10px;
  }
  textarea {
    background: #f2f5f5;
    line-height: 27px;
    height: 125px;
    border-radius: 10px;
    border: unset;
    text-align: center;
    // text-transform: capitalize;
    &::placeholder {
      font-weight: 600;
      font-size: 16px;
      color: #616161;
    }
  }
  .text-danger {
    text-align: center;
  }
}
.repair-btn {
  text-align: center;
  button {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    min-width: 146px;
    border: 2px solid transparent;
    background-origin: border-box !important;
    // background-clip: content-box, border-box;
    background-size: cover !important;
    box-sizing: border-box !important;
    background: linear-gradient(
      90deg,
      #93f2ff 1.35%,
      #fd79a1 68.04%,
      #e78478 106.3%
    );
    border-radius: 50px;
    // background-color: #e75073;
    padding: 10px 20px !important;
    &:focus {
      color: #fff !important;
    }
    &:hover {
      color: #e75073 !important;
      background-color: #e75073 !important;
      border-color: #e75073 !important;
    }
  }
}

.lockno-box {
  margin: 0px 0px 100px 0px;
  // display: none;
  .serial-box {
    text-align: center;
    width: 100%;
    max-width: 523px;
    margin: 30px auto;
    margin-bottom: 0;
    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
    }
  }
}
.makeSerial {
  .lockno-box {
    display: block;
  }
}
.lockup-box {
  h2 {
    text-transform: capitalize;
    font-size: 42px;
    line-height: 51px;
    text-align: center;
    color: #464646;
    font-weight: 700;
    span {
      background: linear-gradient(
        90.73deg,
        #f33d74 49.37%,
        #e78478 75.82%,
        #93f2ff 86.88%
      );
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  input {
    height: 42px;
    background: linear-gradient(89.47deg, #f33d74 5.16%, #e78478 87.24%);
    color: #fff;
    border-radius: 10px;
    border: unset;
    text-align: center;
    text-transform: capitalize;
    transition: all 0.5s;
    &::placeholder {
      font-weight: 600;
      font-size: 16px;
      color: #fff;
      transition: all 0.5s;
    }
    // &:hover {
    //   background: linear-gradient(89.47deg, #f33d74 5.16%, #e78478 87.24%);
    //   color: #fff;
    //   transition: all 0.5s;
    //   &::placeholder {
    //     color: #fff;
    //   }
    // }
  }
}
// ======== REPAIR POPUP SECTION END====
.status-model {
  .modal-header {
    border: unset;
  }
  .modal-content {
    background: #fff;
    border: 1px solid #8a8a8a;
    box-shadow: 0px 23px 47px #979797;
    border-radius: 32px;
    padding: 20px 50px;
  }
}
.repair-popup-box {
  h1,
  h6 {
    font-weight: 700;
    font-size: 42px;
    line-height: 51px;
    text-align: center;
    color: #464646;
  }
}
.repair-from-popup {
  input {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
// ======== REPAIR POPUP SECTION END====
// ========FILE REPAIR SECTION END====

// ======gopopup css start=====

.gomodel-full.modal {
  .modal-content {
    background: #fff;
    border: 1px solid #8a8a8a;
    box-shadow: 0 23px 47px #979797;
    border-radius: 32px;
    padding: 20px 50px;
  }
  .modal-dialog {
    width: 100%;
    max-width: 745px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    top: 10%;
  }

  .modal-header {
    border: unset;
  }
  .gopopup-main {
    p {
      position: relative;
      padding-left: 140px;
      span {
        font-weight: bold;
        position: absolute;
        top: 0;
        left: 0;
        letter-spacing: 0.5px;
      }
    }
  }
}
// ======GO POPUP END=====

// ======TAHNKYOU css start=====
p.seriaal-model {
  color: #000;
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  span {
    cursor: pointer;
    color: #e75074;
    font-weight: bold;
  }
}
.ts-full {
  .modal-content {
    background: #fff;
    border: 1px solid #8a8a8a;
    box-shadow: 0 23px 47px #979797;
    border-radius: 32px;
    padding: 20px 50px;
  }
  .modal-dialog {
    width: 100%;
    max-width: 800px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    top: 20%;
    text-align: center;
  }

  .modal-header {
    border: unset;
    position: absolute;
    right: 12px;
    top: 8px;
    button.btn-close {
      position: relative;
      z-index: 9;
    }
  }
  h2 {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 600;
  }
}

// =======THANKYOU CSS END
.has-error {
  border: 1px solid red !important;
}
.has-error:focus {
  border-color: red !important;
  box-shadow: 0 0 0 0.25rem rgb(203 33 6 / 19%) !important;
}
.skeleton {
  background-image: linear-gradient(90deg, #ddd, #e8e8e8 40px, #ddd 80px);
  background-size: 600px;
  animation: shine-avatar 1.6s linear infinite;
  /* width: 200px; */
  height: 36px;
  background-color: #ccc;
}
.file-repair-main {
  .lockno-box {
    margin-bottom: 0;
  }
}

// ========new add css by old style css======
.new_repairmac_box {
  padding-bottom: 30px;
  .new_shopmac_img {
    text-align: center;
  }
  .pdimg-next {
    width: 100%;
    max-width: 228px;
    margin: 0px auto;
    height: 70px;
    display: flex;
    justify-content: center;
    span {
      height: 100% !important;
      padding: 0 !important;
    }
  }
  .new_shopmac_content {
    h2 {
      font-size: 20px;
      line-height: 51px;
      text-align: center;
      color: #515151;

      font-weight: 700;
    }
  }
  &:hover {
    h2 {
      color: #e75073;
    }
  }
}

.rcshopmac_box {
  background: #ffffff;
  text-align: center;
  border: 1px solid #d6d6d6;
  padding: 20px 30px;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 20px;
  margin-bottom: 30px;
  position: relative;
  .shopmac_img {
    width: 100%;
    height: 180px;
    img {
      width: 100%;
      object-fit: contain;
      height: 100% !important;
    }
  }
  .shopmac_content {
    padding: 30px 0px;
    h2 {
      font-weight: 500;
      font-size: 20px;
      text-align: center;
      color: #000;
      margin-bottom: 18px;
    }
    p {
      font-size: 16px;
      line-height: 28px;
      text-align: center;
      margin-bottom: 0px;
      color: #000;
    }
  }
  &:hover {
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.19);
    border-color: #f33d74;
  }
}
.repair-row.mac_repairicons.row {
  max-width: 100%;
  .col-lg-3 {
    width: 14.28%;
  }
}
// ======responsive css start======
@media screen and (min-device-width: 320px) and (max-device-width: 575px) {
  .modal-dialog .repair-btn button{
    width: 100%;
  }
}
@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .ts-full {
    .modal-content {
      padding: 30px 15px;
    }
    .modal-dialog {
      top: 20%;
    }
  }
  .lockup-box {
    h2 {
      font-size: 28px;
      line-height: 1.2;
      margin-bottom: 20px;
    }
  }
  .file-repair-full {
    .file_box {
      h1,
      h6 {
        font-size: 32px;
        line-height: 1.4;
      }
    }
  }
  .gomodel-full.modal {
    .modal-dialog {
      width: 100%;
      max-width: 95%;
      margin: 0 auto;
      .modal-content {
        padding: 10px 20px;
      }
    }
  }
  .repair-row.mac_repairicons.row .col-lg-3 {
    width: 50%;
}
}

@media screen and (min-device-width: 768px) and (max-device-width: 991px) {
  .new_repairmac_box {
    .new_shopmac_content {
      h2 {
        line-height: 1.2;
        margin-top: 10px;
      }
    }
  }
  .lockup-box {
    h2 {
      font-size: 28px;
      line-height: 1.2;
      margin-bottom: 20px;
    }
  }
  .file-repair-full {
    .file_box {
      h1,
      h6 {
        font-size: 32px;
        line-height: 1.4;
      }
    }
    .repair-form {
      select {
        option {
          text-align: center;
        }
      }
    }
  }
} 
