// ======all variables====
// =========HEADER CSS START======

.AfpLogo{ 
  width: 100%;
  max-width: 250px;
img {
  width: 10%;
  margin-right: 5px;
}
}

.topOfferBar {
background: linear-gradient(
  90deg,
  #93f2ff 0.35%,
  #fd79a1 40%,
  #e78478 106.3%
);
color: #fff;
text-align: center;
padding: 8px;
text-transform: uppercase;
}

nav.my_nav {
padding: 1.4rem 0;
.logo-text {
  cursor: pointer;
  p {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 0;
    background: linear-gradient(
      90deg,
      #93f2ff 1.35%,
      #fd79a1 68.04%,
      #e78478 106.3%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    // span {
    //   background: linear-gradient(
    //     90deg,
    //     #93f2ff 1.35%,
    //     #fd79a1 68.04%,
    //     #e78478 106.3%
    //   );
    //   background-clip: text;
    //   -webkit-text-fill-color: transparent;
    // }
  }
}
}
.my_navbar {
a {
  color: #4f4f4f;
  font-weight: 400;
  font-size: 17px;
  padding: 0;
  margin: 22px 25px;
  text-transform: capitalize;
  position: relative;

  &::after {
    bottom: 0px;
    position: absolute;
    content: "";
    width: 0;
    left: 0px;
    -webkit-transition: width 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: width 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: width 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    background: linear-gradient(
      90deg,
      #93f2ff 1.35%,
      #fd79a1 68.04%,
      #e78478 106.3%
    );
    height: 3px;
  }
  &:hover::after {
    width: 100%;
  }
}
.active {
  border-bottom: 3px solid transparent;
  border-image: linear-gradient(to right, #a0e3f3, #e693b5);
  border-image-slice: 1;
  color: #000;
  &:hover::after {
    bottom: -3px;
  }
}
}

.cart {
background: linear-gradient(
  90deg,
  #93f2ff 1.35%,
  #fd79a1 68.04%,
  #e78478 106.3%
);
width: 46px;
height: 46px;
border-radius: 100px;
position: relative;
left: 0px;
top: -5px;
display: flex;
justify-content: center;
align-items: center;
padding: 15px;

img {
  margin: 0px auto;
  text-align: center;
  display: block;
  position: relative;
  top: 0px;
}
.cart_num {
  border: 1px solid #cccccc;
  border-radius: 18px;
  position: absolute;
  width: 25px;
  height: 24px;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: #f33d74;
  top: -2px;
  right: -12px;
  z-index: 9;
  background: #fff;
}
}
.cart_mob {
display: none;
}
.hamburger-react {
display: none;
}
// =========HEADER CSS END======

// ======responsive css start======
@media screen and (min-device-width: 768px) and (max-device-width: 991px) {
.my_navbar {
  border-top: 1px solid #949494;
  align-items: end;
  // width: 143px;
  margin: unset !important;
  margin-top: 20px !important;
  position: absolute;
  width: 100%;
  background: #fff;
  z-index: 99;
  padding-bottom: 40px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  padding: 10px 20px;

  a {
    margin: 12px 10px;
  }
}
}
@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
#responsive-navbar-nav {
  // position: relative;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  // margin-bottom: 70px;
}
.hamburger-react {
  display: block;
  margin-left: auto;
  div {
    background-color: #939393 !important;
  }
}

.cart_desktop {
  display: none;
}

.my_navbar {
  border-top: 1px solid #949494;
  align-items: end;
  // width: 143px;
  margin: unset !important;
  margin-top: 20px !important;
  position: absolute;
  width: 100%;
  background: #fff;
  z-index: 99;
  padding-bottom: 40px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  padding: 10px 20px;

  a {
    margin: 12px 10px;
  }
}
nav.my_nav {
  padding: 1rem 0;
}
.my_nav {
  .logo-text {
    margin-right: auto;
    p {
      font-size: 19px !important;
    }
  }
  .cart_mob {
    display: block;
    .cart {
      top: 0px;
      left: -18px;
      width: 40px;
      height: 40px;
      padding: 12px;
    }
  }
}
}

// ======mob end=======

@media screen and (min-device-width: 768px) and (max-device-width: 991px) {
.hamburger-react {
  display: block;
  margin-left: auto;
  div {
    background-color: #939393 !important;
  }
}
.cart_desktop {
  display: none;
}

.my_navbar {
  border-top: 1px solid #949494;
  // width: 143px;
  margin: unset !important;
  margin-top: 20px !important;
  align-items: end;

  a {
    margin: 12px 10px;
  }
}
.my_nav {
  .logo-text {
    margin-right: auto;
    p {
      font-size: 22px !important;
    }
  }
  .cart_mob {
    display: block;
    .cart {
      left: -18px;
    }
  }
}
}
// ======tablet end=======
@media screen and (min-device-width: 992px) and (max-device-width: 1166px) {
.my_navbar {
  a {
    font-size: 16px;
    margin: 20px 14px;
  }
}
}
// ======responsive css start======