/* AppleMap.module.css */
/* .mapContainer {
    position: relative;
    width: 100%;
    height: 600px;
  } */
  
  /* .titleBox {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .titleBox h2 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
  }
  
  .titleBox p {
    margin: 5px 0 0;
    font-size: 14px;
  }
  
  .map {
    width: 100%;
    height: 100%;
  } */
   /* styles/globals.css */
.map-header {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  z-index: 1000; /* Ensure it appears above the map */
}

.map-title {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  margin-right: 10px;
}

.direction-icon img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

  