/* AppleMap.module.css */
.mapContainer {
    position: relative;
    width: 100%;
    height: 600px;
  }
  
  .titleBox {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Make sure the title box stays on top of the map */
    display: flex;
  }
  
  .titleBox h2 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
  }
  
  .titleBox p {
    margin: 5px 0 0;
    font-size: 14px;
  }
  
  .map {
    width: 100%;
    height: 100%;
  }
  .direction_link  {
    text-align: center;
    display: block;
    color: #0c66e2;
    font-size: 12px;
    letter-spacing: 0px;
    cursor: pointer;
    margin-left: 15px;
  }
  .direction_link_img {
    max-width: 22px;
    height: auto;
    display: block;
    margin: auto;
}
  