$wcolor: #fff;
$bcolor: #000;
$pcolor: #ababab;

// ======all variables====
.mobile_footer {
  display: none;
}
.main_footer {
  background: #000;
  padding-top: 60px;
  margin-top: 80px;
  .footer_logo {
    p {
      font-size: 30px;
      font-weight: 300;
      color: #fff;
      margin-bottom: 0;
      span {
        background: linear-gradient(
          90deg,
          #93f2ff 1.35%,
          #fd79a1 68.04%,
          #e78478 106.3%
        );
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 700;
      }
    }
  }

  h1,
  h2 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 600;
    text-align: left;
    text-transform: capitalize;
    color: $wcolor;
  }

  .footer_boxul {
    .flogoul {
      margin-top: 20px;
    }

    ul {
      li {
        margin-bottom: 10px;

        a {
          font-weight: 400;
          font-size: 18px;
          line-height: 16px;
          text-transform: inherit;
          color: #828282;
          position: relative;
          padding-left: 25px;
          display: block;
          line-height: 26px;

          svg {
            position: absolute;
            left: 0;
            top: 3px;
          }

          &:hover {
            color: $wcolor;
          }
        }
      }
    }
  }

  .footer-copyright {
    p {
      margin-bottom: 0px;
      text-align: center;
      color: #bdbdbd;
      opacity: 0.5;
      font-size: 16px;
      line-height: 24px;
      padding: 10px 0px;
      font-weight: normal;

      .footer_logo {
        span {
          background: linear-gradient(
            90deg,
            #93f2ff 1.35%,
            #fd79a1 68.04%,
            #e78478 106.3%
          );
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          font-weight: 700;
          font-size: 23px;
          color: #fff;
          margin-bottom: 0;
          text-transform: capitalize;
        }
      }

      a {
        font-size: 16px;
        line-height: 45px;
        text-align: center;
        color: #fff;
        opacity: 0.8;
        padding: 10px 0px;
        font-weight: normal;
        &:hover {
          opacity: 1;
        }
      }
      .cp-img {
        position: relative;
        top: -4px;
        left: 3px;
        img {
          width: 100%;
          max-width: 255px;
        }
      }
    }
    // .devlop-para {
    //   opacity: 1;
    // }
  }

  .footer_sbox {
    display: flex;
    padding: 10px 0px;

    p {
      font-weight: 500;
      font-size: 18px;
      color: $wcolor;
      margin-bottom: 0px;
      margin-top: 10px;
      margin-right: 10px;
    }

    ul {
      margin-bottom: 0px;
      align-items: center;
      display: flex;

      li {
        display: inline-block;
        // background: #f2f2f2;
        // border: 0.8px solid #e0e0e0;
        border-radius: 100px;
        width: 65px;
        height: 45px;
        text-align: center;
        margin-left: 3px;
        margin-right: 3px;

        a {
          width: 100%;
          display: block;
          height: 100%;
          span {
            height: 100% !important;
            display: block;
          }
          img {
            border-radius: 10px;
            height: 100%;
          }
        }
      }
    }
  }

  .footer_sbox_icon {
    display: flex;
    justify-content: flex-end;

    p {
      font-weight: 500;
      font-size: 18px;
      color: $wcolor;
      margin-bottom: 0px;
      margin-top: 8px;
      margin-right: 20px;
    }

    ul {
      margin-bottom: 0px;
      align-items: center;
      display: flex;

      li {
        display: inline-block;
        height: 40px;
        width: 40px;
        border: 1px solid $wcolor;
        line-height: 37px;
        background-color: #000;
        text-align: center;
        margin-right: 20px;
        border-radius: 100px;
        transition: all 0.2s ease;

        a {
          color: $wcolor;
          font-size: 16px;
          transition: all 0.2s ease;
          display: block;
        }
      }
      .f-li {
        &:hover {
          background: #3b5a9a !important;
          border: 1px solid #3b5a9a;
        }
      }

      .t-li {
        &:hover {
          background: #1aa9e1 !important;
          border: 1px solid #1aa9e1;
        }
      }

      .i-li {
        &:hover {
          background: #e84d3f !important;
          border: 1px solid #e84d3f;
        }
      }
    }
  }

  .footer-bottom {
    border-top: 1px solid #4f4f4f;
    border-bottom: 1px solid #4f4f4f;
    margin-top: 60px;
  }

  .footer-social {
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 100%;
  }
  .rl-footer {
    margin-left: 123px;
  }
}

// =======responsive css start========
@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .main_footer {
    .rl-footer {
      margin-left: 6px;
    }
    h1,
    h2 {
      margin-bottom: 10px;
      margin-top: 10px;
    }
    .footer-social {
      height: auto;
      .footer_sbox {
        flex-direction: column;
        p {
          margin-bottom: 20px;
        }
      }
    }
  }
}

// ======mob end=========

@media screen and (min-device-width: 768px) and (max-device-width: 991px) {
  .main_footer {
    .footer_img {
      margin-top: 6px;
    }
    .footer-bottom {
      padding-bottom: 10px;
    }
    .footer_boxul {
      .flogoul {
        margin-top: 10px;
      }
      ul {
        li {
          a {
            font-size: 16px;
            display: block;
            line-height: 24px;
          }
        }
      }
    }
    .rl-footer {
      margin-left: 6px;
    }
    h1,
    h2 {
      margin-bottom: 10px;
      margin-top: 10px;
      font-size: 16px;
    }
    .footer_logo {
      p {
        font-size: 20px;
      }
    }
    .footer-social {
      height: auto;
      .row {
        align-items: center;
      }
      .footer_sbox {
        flex-direction: column;
        p {
          margin-bottom: 20px;
        }
      }
    }
    .footer-copyright {
      p {
        line-height: 1.2;
      }
    }
  }
}
// =======tablet css end========
// =======responsive css end========
