$wcolor: #fff;
$bcolor: #000;
$pcolor: #ababab;

// ======all variables====
.mobile_footer {
  display: none;
}
body{
  overflow: hidden;
}
.main_footer {
  // background:linear-gradient(90deg, #93f2ff 0.35%, #fd79a1 40%, #e78478 106.3%);
  background: linear-gradient(90deg, #2BB2C8 0.35%, #A82654 40%, #E8003E 106.3%);
  padding-top: 60px;
  margin-top: 80px;
  position: relative;

  .footer_logo {
    p {
      font-size: 30px;
      font-weight: 300;
      color: #fff;
      margin-bottom: 0;
      span {
        font-weight: 700;
        color: #feeaeff7;
      }
    }
  }

  h1,
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: left;
    text-transform: capitalize;
    color: rgb(255 255 255);
    letter-spacing: 0.1rem;
  }

  .footer_boxul {
    .flogoul {
      margin-top: 20px;
    }

    ul {
      li {
        margin-bottom: 7px;

        a {
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          text-transform: inherit;
          color: rgba(255, 255, 255, 0.75);
          position: relative;
          padding-left: 25px;
          display: block;
          line-height: 26px;

          svg {
            position: absolute;
            left: 5px;
            top: 6px;
          }

          &:hover {
            color: #212121;
          }
        }
      }
    }
  }

  .footer-copyright {
    p {
      margin-bottom: 0;
      text-align: center;
      color: #ffffff;
      opacity: 1;
      font-size: 13px;
      line-height: normal;
      font-weight: normal;

      .footer_logo {
        span {
          background: linear-gradient(
            90deg,
            #93f2ff 1.35%,
            #fd79a1 68.04%,
            #e78478 106.3%
          );
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          font-weight: 700;
          font-size: 23px;
          color: #fff;
          margin-bottom: 0;
          text-transform: capitalize;
        }
      }

      a {
        font-size: 13px;
        line-height: normal;
        text-align: center;
        color: #212121;
        opacity: 1;
        padding: 10px 0px;
        font-weight: normal;
        &:hover {
          opacity: 1;
        }
      }
      .cp-img {
        position: relative;
        top: -4px;
        left: 3px;
        img {
          width: 100%;
          max-width: 255px;
        }
      }
    }
    // .devlop-para {
    //   opacity: 1;
    // }
  }

  .footer_sbox {
    display: flex;
    padding: 10px 0px;
    justify-content: center;

    p {
      font-weight: 500;
      font-size: 18px;
      color: $wcolor;
      margin-bottom: 0px;
      margin-top: 10px;
      margin-right: 10px;
    }

    ul {
      margin-bottom: 0px;
      align-items: center;
      display: flex;

      li {
        display: inline-block;
        border-radius: 0;
        width: 56px;
        height: 35px;
        text-align: center;
        margin: 0 5px;

        a {
          width: 100%;
          display: block;
          height: 100%;
          span {
            height: 100% !important;
            display: block;
          }
          img {
            border-radius: 4px;
            height: 100%;
          }
        }
      }
    }
  }

  .footer_sbox_icon {
    display: flex;
    justify-content: flex-end;

    p {
      font-weight: 500;
      font-size: 18px;
      color: $wcolor;
      margin-bottom: 0px;
      margin-top: 8px;
      margin-right: 20px;
    }

    ul {
      margin-bottom: 0px;
      align-items: center;
      display: flex;

      li {
        display: inline-block;
        height: 40px;
        width: 40px;
        border: 1px solid $wcolor;
        line-height: 37px;
        background-color: #000;
        text-align: center;
        margin-right: 20px;
        border-radius: 100px;
        transition: all 0.2s ease;

        a {
          color: $wcolor;
          font-size: 16px;
          transition: all 0.2s ease;
          display: block;
        }
      }
      .f-li {
        &:hover {
          background: #3b5a9a !important;
          border: 1px solid #3b5a9a;
        }
      }

      .t-li {
        &:hover {
          background: #1aa9e1 !important;
          border: 1px solid #1aa9e1;
        }
      }

      .i-li {
        &:hover {
          background: #e84d3f !important;
          border: 1px solid #e84d3f;
        }
      }
    }
  }

  .footer-bottom {
    margin-top: 15px;
  }

  .footer-social {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 100%;
  }
  .rl-footer {
    margin-left: 123px;
  }
}
.footer_img {
  text-align: center;
  margin-top: 10px;
  position: relative;
  &::before{
    content: "";
    position: absolute;
    left: 0;
    top: 15px;
    background-color: #feeaef8c;
    height: 6px;
    width: 100%;
  }
  .footer_logo {
    display: inline-block;
    background-color: #b02151;
    position: relative;
    z-index: 9;
    padding: 0 25px;
  }
}
.main_heading-gradiant-p {
  .sub_title {
    font-size: 22px;
    margin: 0;
    text-align: center;
    max-width: 100%;
    font-weight: 600;
    color: #b72859;
    letter-spacing: 0.1rem;
    background: linear-gradient(90deg, #93f2ff 35%, #fd79a1 68.04%, #e78478 106.3%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

// =======responsive css start========
@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .main_footer {
    .rl-footer {
      margin-left: 6px;
    }
    h1,
    h2 {
      margin-bottom: 10px;
      margin-top: 10px;
    }
    .footer-social {
      height: auto;
      .footer_sbox {
        flex-direction: column;
        p {
          margin-bottom: 20px;
        }
      }
    }
  }
}

// ======mob end=========

@media screen and (min-device-width: 768px) and (max-device-width: 991px) {
  .main_footer {
    .footer_img {
      margin-top: 6px;
    }
    .footer-bottom {
      padding-bottom: 10px;
    }
    .footer_boxul {
      .flogoul {
        margin-top: 10px;
      }
      ul {
        li {
          a {
            font-size: 16px;
            display: block;
            line-height: 24px;
          }
        }
      }
    }
    .rl-footer {
      margin-left: 6px;
    }
    h1,
    h2 {
      margin-bottom: 10px;
      margin-top: 10px;
      font-size: 16px;
    }
    .footer_logo {
      p {
        font-size: 20px;
      }
    }
    .footer-social {
      height: auto;
      .row {
        align-items: center;
      }
      .footer_sbox {
        flex-direction: column;
        p {
          margin-bottom: 20px;
        }
      }
    }
    .footer-copyright {
      p {
        line-height: 1.2;
      }
    }
  }
}
// =======tablet css end========
// =======responsive css end========
