.select-fgroup {
  margin-top: 20px;
  margin-bottom: 20px;
}

.sell-infofrom input#formGridEmail {
  text-transform: none;
}

.manual-span {
  color: #464646;
  margin-bottom: 10px;
  display: inline-block;
}

.sellmaccomp {
  margin-top: 30px;
}

.custom-radio .form-check {
  position: relative;
  padding: 0px;
}
.custom-radio .form-check .form-check-input {
  width: 100%;
  border-radius: 100px !important;
  position: relative;
  background: #fff;
  border-color: #000;
  background-size: cover;
  margin-left: 0 !important;
}
.custom-radio .form-check .form-check-input:checked {
  border: 2px solid transparent;
  background-origin: border-box !important;
  background-size: cover !important;
  box-sizing: border-box !important;
  background: linear-gradient(90deg, #93f2ff 1.35%, #fd79a1 68.04%, #e78478 106.3%);
  color: #fff;
}
.custom-radio .form-check .form-check-input:hover {
  background: linear-gradient(90deg, #93f2ff 1.35%, #fd79a1 68.04%, #e78478 106.3%);
  border-color: #e85e75;
  color: #fff !important;
}
.custom-radio .form-check .form-check-input:checked + label {
  color: #fff;
  box-shadow: none;
}
.custom-radio .form-check .form-check-input:hover + label {
  color: #fff;
  box-shadow: none;
}
.custom-radio .form-check label {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 72px;
  text-transform: capitalize;
  font-weight: 600;
  cursor: pointer;
}

.bn-btnbox {
  justify-content: center;
}

.bn-btnbox .main_btn {
  margin-right: 20px;
}

.sellfrom h2 {
  font-weight: 600;
  margin-bottom: 25px;
  color: #464646;
  text-transform: capitalize;
  text-align: left;
}

.selld-from h2 {
  font-weight: 600;
  margin-bottom: 25px;
  color: #464646;
  text-transform: capitalize;
  text-align: center;
}
.selld-from select {
  height: 64px;
  background: #fff;
  border-radius: 100px;
  border: 1px solid #000;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  color: #464646;
}
.selld-from .rmsc {
  --rmsc-h: 50px;
}
.selld-from .rmsc .dropdown-container {
  border: unset;
}
.selld-from .rmsc .dropdown-container:focus {
  border: unset;
  box-shadow: none;
}
.selld-from .rmsc .dropdown-container:focus-within {
  border: unset;
  box-shadow: none;
}
.selld-from .dropdown-heading {
  background: #fff;
  border-radius: 100px;
  border: 1px solid #000;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  color: #464646;
  padding: 0px 10px;
  min-height: 64px;
}

.sell-infofrom .infofrom {
  padding: 30px 0px 0px 0px;
}
.sell-infofrom input {
  height: 64px;
  background: #fff;
  border-radius: 100px;
  border: 2px solid #000;
  text-align: center;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 30px !important;
}

.bkbtn-pos {
  position: relative;
}
.bkbtn-pos .bkbtn-from {
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px 20px !important;
}
.bkbtn-pos .bkbtn-from svg {
  font-size: 30px;
}

.thankbox p {
  font-weight: 500;
  line-height: 35px;
  text-align: center;
}

.mwbox + .bn-btnbox .whenwork {
  display: none !important;
}

.has-error_sell_mac .dropdown-heading,
.has-error_sell_mac {
  border-radius: 100px;
  border: 2px solid red !important;
}

.thankbox + .bn-btnbox .whenwork {
  display: none !important;
}

.infofrom .newborder input {
  border: 2px solid;
}

.more-repair {
  text-align: center;
}
.more-repair p {
  margin-top: 8px;
  font-size: 18px;
}
.more-repair p a {
  color: #000;
  margin-left: 10px;
}
.more-repair p a:hover {
  color: #e85e75;
}

.select-fgroup .rmsc.has-error_sell_mac {
  border: unset !important;
}

@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .sell-infofrom .custom-radio .form-check {
    width: 100%;
  }
  .bkbtn-pos .bkbtn-from {
    top: -61px;
    left: 5%;
    padding: 2px 20px !important;
  }
}
@media screen and (min-device-width: 768px) and (max-device-width: 991px) {
  .bkbtn-pos .bkbtn-from {
    top: -61px;
    left: 5%;
    padding: 2px 20px !important;
  }
}/*# sourceMappingURL=sell-repair.css.map */