.macparts-page {
  .main_heading-gradiant-p {
    h1 {
      text-transform: capitalize;
    }
  }
  .banner_macg {
    background-color: #000;
    text-align: center;
    padding: 1rem 1.5rem;
    max-width: 900px;
    margin: 0 auto;
    border-radius: 30px;
    .main_heading-gradiant {
      padding: 1rem 0rem;
      h2 {
        font-size: 68px;
      }
    }
  }
}
.macPartsTitle {
  border: 1px solid #d6d6d6;
  border-radius: 11px;
  padding: 10px;
  margin-bottom: 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s;
}
.animation-left {
  animation: 1s slide-right;
  overflow: hidden;
  .tabslide_box_img {
    width: 100%;
    max-width: 180px;
    margin: 0px auto;
    height: 124px;
    span {
      height: 100% !important;
      padding: 0;
      img {
        height: 100% !important;
      }
    }
  }
  .tabslide_box_content {
    margin-top: 30px;
  }
  .d-none {
    animation: fadeInRight 1s ease-in-out;
  }
}

.partsshow-slide.animation-right {
  animation: fadeInRight 1s ease-in-out;
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-right {
  from {
    transform: translateX(-200px);
  }
  to {
    margin-left: 0%;
  }
}

// =========WHOLESALE SECTION START=======
.wholesale_left {
  width: 100%;
  max-width: 476px;
  h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 51px;
    color: #515151;
    margin-bottom: 22px;
  }
  p {
    font-size: 16px;
    line-height: 24px;
  }
}
.wholesale_form {
  margin-top: 25px;

  input {
    text-align: left;
    padding-left: 20px;
  }
  .repair-btn {
    text-align: right;
  }
}

// =========WHOLESALE SECTION END=======

// ======EBAY SECTION CSS START====
.wholesale-img {
  width: 400px;
  max-width: 100%;
  margin: 30px auto 0px;
}
.wholesale-img img{
  max-width: 100%;
}

.ebay-section {
  .checkbox-img {
    text-align: center;

    img {
      width: 100%;
      max-width: 230px !important;
    }
  }
}
// ======EBAY SECTION CSS END====

// ====NEW MAC PAGE SECTION START=====
.macpartscard_box {
  background: #fafafa;
  border: 1px solid #d6d6d6;
  box-shadow: 0px 23px 47px #e6e8e9;
  border-radius: 20px;
  padding: 30px 0px 20px 0px;
  margin-bottom: 40px;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s;

  .mac_shopmac_img {
    text-align: center;
  }
  .mac_shopmac_content {
    h2 {
      font-size: 22px;
      line-height: 51px;
      text-align: center;
      color: #515151;
      margin-top: 30px;
      font-weight: 700;
      transition: all 0.5s;
    }
  }
  &:hover {
    border: 1px solid #edb2bf;
    h2 {
      color: #e75073;
    }
  }
}

// ====NEW MAC PAGE SECTION END=====
// =========MAC TAB SECTION END=======
.tabmacfull {
  background: #fff;
  border: 1px solid rgba(218, 218, 218, 0.73);
  box-shadow: 0px 15px 43px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  .tab-content {
    padding-right: 60px;
  }
}
.tabslidebox {
  padding: 40px 0px 70px 0px !important;
  .tab-content {
    border-left: 1px solid #dadada;
  }
}
.left-nav {
  padding: 70px 40px !important;
  .tab-ancor {
    font-weight: 700;
    font-size: 22px;
    line-height: 51px;
    color: #515151;
    margin-bottom: 6px;
    // text-transform: capitalize;
    transition: all 0.5s;
    display: block;
    padding: 5px 0px;
    &:hover {
      color: #ed6877 !important;
    }
    &:focus {
      color: #ed6877 !important;
    }
    &:focus-visible{
      box-shadow: unset;
    }
  }
  .active {
    background: unset !important;
    color: #ed6877 !important;
  }
}
.tabslide_box {
  background: #fff;
  text-align: center;
  .tabslide_box_content {
    cursor: pointer;
    h2 {
      font-weight: 600;
      font-size: 16px;
      line-height: 27px;
      text-align: center;
      color: #333333;
    }
  }
}
.tabslide-full {
  .slick-prev {
    background: unset;
    position: absolute;
    left: 0px;
    right: 180px;
    bottom: -17px;
    margin: 0px auto;
    top: unset;
    height: 50px;
    width: 50px;
    border-radius: 100px;
    border: 2px solid #ffff;
    top: unset;
    transition: all 0.5s;

    &:before {
      color: #000;
      content: url("../../../public/assets/images/macparts-img/tabaleft.png");
      position: relative;
      z-index: 999;
      width: 100%;
      font-family: unset;
      font-size: 25px;
      background-size: cover !important;
      background-position: center !important;
      background-repeat: no-repeat;
    }
    // &:hover {
    //   border: 2px solid #e75073;
    // }
  }

  .slick-next {
    background: unset;
    position: absolute;
    left: 0px;
    right: -240px;
    bottom: -17px;
    height: 50px;
    width: 50px;
    border-radius: 100px;
    margin: 0px auto;
    border: 2px solid #ffff;
    top: unset;
    transition: all 0.5s;

    &:before {
      position: relative;
      z-index: 999;
      width: 100%;
      font-family: unset;
      font-size: 25px;
      background-size: cover !important;
      background-position: center !important;
      background-repeat: no-repeat;
      content: url("../../../public/assets/images/macparts-img/tabaright.png");
    }
    // &:hover {
    //   border: 2px solid #e75073;
    // }
  }

  .slick-dots {
    padding: 10px;
    position: unset;
    bottom: 20px;
    width: auto;
    ul {
      li {
        margin: 0 25px;
        div {
          transition: all 0.5s;
          width: 46px;
          color: #fff;
          border: 2px solid rgb(243, 61, 116);
          background: linear-gradient(
            90.78deg,
            rgb(231, 132, 120) -58.4%,
            rgb(243, 61, 116) 130.41%
          );
          border-radius: 100px;
          height: 46px;
          line-height: 42px;
          &:hover {
            color: #ed6877;
            border: 2px solid rgb(243, 61, 116);
            background: #fff;
          }
        }
      }
    }
  }
}

.mobtab {
  display: none;
}
.spinnerbox {
  text-align: center;
  display: flex;
  justify-content: center;
}
.part-back-box {
  .hvr-shutter-out-horizontal {
    padding: 5px 15px !important;
  }
}
// =========MAC TAB SECTION END=======

// =====mobile tab section start======
.mobile-tabsection {
  display: none;
}

.tabaccordian-main {
  margin-top: 40px;
  background: #ffffff;
  border: 1px solid rgba(218, 218, 218, 0.73);
  box-shadow: 0px 15px 43px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  .accordion {
    padding-bottom: 30px;
  }
  .accordion-body {
    padding: 20px 10px 0px 10px;
  }
  .accordion-item {
    padding: 18px 10px 10px 10px;
    border-bottom: unset;
  }
  .accordion-button {
    background: #f2f5f5;
    border-radius: 30px !important;
    font-weight: 700;
    font-size: 22px;
    color: #515151;
    &:active {
      box-shadow: none;
    }
    &:hover {
      box-shadow: none;
    }
    &:focus {
      box-shadow: none;
    }
  }
}

@media screen and (min-device-width: 320px) and (max-device-width: 575px) {
  .left-nav {
    padding: 20px 30px 0 !important;
  }
}

@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .mobile-tabsection {
    display: block;
  }
  .tabdesktop {
    display: none;
  }
  .macparts-page {
    .banner_macg {
      margin-top: 20px;
      padding: 10px 10px;
      max-width: 100%;
      .main_heading-gradiant {
        h2 {
          font-size: 28px;
          line-height: 1.3;
          margin-bottom: 0;
        }
      }
    }
  }
  .wholesale_left {
    h2 {
      font-size: 30px;
    }
  }
  .wholesale_form {
    .repair-btn {
      text-align: center;
    }
  }
  .part-back-box {
    button {
      position: relative;
      left: 20px;
    }
  }
  .tabslidebox {
    padding: 10px 30px 20px !important;
  }
}
// ========mob responsive end=======

// ======tablet css start========
@media screen and (min-device-width: 768px) and (max-device-width: 991px) {
  .mobile-tabsection {
    display: block;
  }
  .tabdesktop {
    display: none;
  }
  .macparts-page {
    .banner_macg {
      .main_heading-gradiant {
        h2 {
          font-size: 48px;
        }
      }
    }
  }
  .left-nav {
    padding: 40px 14px !important;
    .tab-ancor {
      font-size: 14px;
      line-height: 1.2;
      margin-bottom: 100px;
    }
  }
  .tabslidebox {
    padding: 10px 0px 70px 0px !important;
  }
}
// ======tablet css end========

@media screen and (min-device-width: 992px) and (max-device-width: 1024px) {
  .left-nav {
    padding: 40px 24px !important;
    .tab-ancor {
      line-height: 1.2;
      margin-bottom: 100px;
    }
  }
  .tabslidebox {
    padding: 10px 0px 70px 0px !important;
  }
}
// ======tablet css end========

.tabskl {
  .avatar {
    float: left;
    // width: 200px;
    width: 100%;
    height: 26px;
    border-radius: 7px;
    background-color: #ccc;
    // margin: 8px;
    margin-top: 32px;
    background-image: linear-gradient(90deg, #ddd 0px, #e8e8e8 40px, #ddd 80px);
    background-size: 600px;
    animation: shine-avatar 1.6s infinite linear;
  }
  .line {
    float: left;
    width: 100%;
    height: 36px;
    margin-top: 32px;
    border-radius: 7px;
    background-image: linear-gradient(90deg, #ddd 0px, #e8e8e8 40px, #ddd 80px);
    background-size: 600px;
    animation: shine-lines 1.6s infinite linear;
    // margin: 20px 10px;
  }
  @keyframes shine-lines {
    0% {
      background-position: -100px;
    }
    40%,
    100% {
      background-position: 140px;
    }
  }
  @keyframes shine-avatar {
    0% {
      background-position: -32px;
    }
    40%,
    100% {
      background-position: 208px;
    }
  }
}

// / ============SKE===========
// THE CARD
.sell-skl {
  .card {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
    background-color: #fff;
    box-shadow: 0 5px 10px 0 rgba(#000, 0.15);
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem;
  }
  .card-img {
    padding-bottom: 56.25%;
    position: relative;
    img {
      position: absolute;
      width: 100%;
    }
  }
  .card-body {
    padding: 1.5rem;
  }
  .card-title {
    font-size: 1.25rem;
    line-height: 1.33;
    font-weight: 700;
    &.skeleton {
      // NOTICE THIS
      min-height: 28px;
      border-radius: 4px;
    }
  }
  .card-intro {
    margin-top: 0.75rem;
    line-height: 1.5;
    &.skeleton {
      // NOTICE THIS
      min-height: 72px;
      border-radius: 4px;
    }
  }
  // THE LOADING EFFECT
  .skeleton {
    background-color: #e2e5e7;
    // The shine that's going to move across the skeleton:
    background-image: linear-gradient(
      90deg,
      rgba(#fff, 0),
      rgba(#fff, 0.5),
      rgba(#fff, 0)
    );
    background-size: 40px 100%; // width of the shine
    background-repeat: no-repeat; // No need to repeat the shine effect
    background-position: left -40px top 0; // Place shine on the left side, with offset on the left based on the width of the shine - see background-size
    animation: shine 1s ease infinite; // increase animation time to see effect in 'slow-mo'
  }
  @keyframes shine {
    to {
      // Move shine from left to right, with offset on the right based on the width of the shine - see background-size
      background-position: right -40px top 0;
    }
  }
}
